<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #000000; font-style: italic;}
.s1 { color: #0000ff; font-weight: bold;}
.s2 { color: #000000;}
.s3 { color: #008000; font-weight: bold;}
.s4 { color: #000080; font-weight: bold;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_main.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s3">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s3">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
&lt;<span class="s4">LinearLayout</span>
    <span class="s1">xmlns:android</span><span class="s3">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s3">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s3">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:id</span><span class="s3">=&quot;@+id/linearLayout&quot;</span>
    <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s3">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s3">=&quot;vertical&quot;</span>
    <span class="s1">tools:context</span><span class="s3">=&quot;.MainActivity&quot;</span>&gt;

    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#BF360C&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;  Digital PCR Application&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;viewStart&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;20dp&quot;</span>
        /&gt;

    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView2&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold|italic&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#BF360C&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;Sogang University  &quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;textEnd&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;18dp&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s3">=&quot;@+id/textView&quot; </span>/&gt;

    &lt;<span class="s4">Button</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/btnConnect&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#673AB7&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;4dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;Bluetooth connection&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintHorizontal_bias</span><span class="s3">=&quot;0.97&quot;</span>
        <span class="s1">app:layout_constraintLeft_toLeftOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintRight_toRightOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s3">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintVertical_bias</span><span class="s3">=&quot;0.098&quot; </span>/&gt;

    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView3&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;6dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;THERMAL CYCLING&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#66B71C1C&quot;</span>
        /&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33B71C1C&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Temp1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Temperature 1&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Time1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Time 1&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot; </span>/&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33B71C1C&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Temp2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Temperature 2&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Time2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Time 2&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33B71C1C&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Temp3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Temperature 3&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Time3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Time 3&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33B71C1C&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Ncyc&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Number of cycles&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
        &lt;<span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/btnThermalcycling&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;#B71C1C&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Start&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView4&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;6dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;FLUORESCENCE IMAGING&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#661A237E&quot;</span>
        /&gt;
    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#331A237E&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ISO&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;ISO&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ExpTime&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Exposure time&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#331A237E&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/ShuTime&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Shutter speed&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/LivTime&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Live time&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;
    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#331A237E&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Flu&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Fluorescence&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;text&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
        &lt;<span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/btnFluimaing&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;#1A237E&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Capture&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;
    &lt;<span class="s4">TextView</span>
        <span class="s1">android:id</span><span class="s3">=&quot;@+id/textView5&quot;</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;6dp&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;DATA ANALYSIS&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#661B5E20&quot;</span>
        /&gt;
    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#331B5E20&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Detparm1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Detection parameter 1&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot; </span>/&gt;

        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Detparm2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Detection parameter 2&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#331B5E20&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Minrad&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Minimum radius&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Maxrad&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Maximum radius&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;
    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#331B5E20&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Mindist&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Minimum distance&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
        &lt;<span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/btnAnalysis&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;#1B5E20&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;ANALYSIS&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">TextView</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s3">=&quot;Target concentration (copies/uL)&quot;</span>
        <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
        <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
        <span class="s1">android:textSize</span><span class="s3">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;6dp&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#66000000&quot;</span>
        /&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33000000&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(A)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con1&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;924.85&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot; </span>/&gt;

        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(B)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con2&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;916.81&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(C)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con3&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;975.97&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33000000&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(D)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con4&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;1054.83&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(E)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con5&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;1069.05&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon6&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(F)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con6&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;916.51&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33000000&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(G)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con7&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;1006.29&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon8&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(H)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con8&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;1027.88&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/TexCon9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;33dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;(I)&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
        &lt;<span class="s4">TextView</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Con9&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;100dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;1028.21&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#000000&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;15dp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s3">=&quot;bold&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

    &lt;<span class="s4">LinearLayout</span>
        <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
        <span class="s1">android:background</span><span class="s3">=&quot;#33006064&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s3">=&quot;6dp&quot;</span>
        <span class="s1">android:orientation</span><span class="s3">=&quot;horizontal&quot;</span>&gt;
        &lt;<span class="s4">EditText</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/Fname&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;200dp&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;DATA ID&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:inputType</span><span class="s3">=&quot;number&quot;</span>
            <span class="s1">android:textAlignment</span><span class="s3">=&quot;center&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
        &lt;<span class="s4">Button</span>
            <span class="s1">android:id</span><span class="s3">=&quot;@+id/btnSend&quot;</span>
            <span class="s1">android:layout_width</span><span class="s3">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s3">=&quot;30dp&quot;</span>
            <span class="s1">android:background</span><span class="s3">=&quot;#006064&quot;</span>
            <span class="s1">android:text</span><span class="s3">=&quot;Send data&quot;</span>
            <span class="s1">android:textSize</span><span class="s3">=&quot;14dp&quot;</span>
            <span class="s1">android:textColor</span><span class="s3">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:layout_marginStart</span><span class="s3">=&quot;4dp&quot;</span>
            <span class="s1">android:layout_marginEnd</span><span class="s3">=&quot;4dp&quot;</span>
            /&gt;
    &lt;/<span class="s4">LinearLayout</span>&gt;

&lt;/<span class="s4">LinearLayout</span>&gt;</pre>
</body>
</html>